.subscribeButton {
  height: 6.4rem;
  padding: 0 6.4rem;

  border: none;
  border-radius: 6.4rem;
  background: var(--pink-500);

  font-size: 2rem;
  font-weight: 700;
  color: var(--white);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}